# Node/JS
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Env
.env
.env.*

# OS/editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Build/output
dist/
build/
coverage/
*.log
*.tgz

